In [ ]:
#### Part 1 - Example : importing table and analysis using get() and pandas

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd 

import squarify as sq
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math as math
#import cufflinks as cf
import datetime as dt
from functools import reduce
from scipy import stats as st
import plotly.express as px
import scipy.stats as stats
import plotly.graph_objects as go
import chart_studio.plotly as py
import usaddress

%matplotlib inline

#from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
#init_notebook_mode(connected = True)
#cf.go_offline()

import sys
import warnings
if not sys.warnoptions:
       warnings.simplefilter("ignore")

### Use requests and get() for the required link

- <b>request</b>: Library containing the get() method.


- <b>get()</b>: acts as a browser. This method send a GET request to the server, process the reply and return a response.

In [ ]:
# name the get request as variable url_GDP
url_GDP = requests.get('https://www.worldometers.info/gdp/gdp-by-country/')

# print response
print(url_GDP)

- A response object contains the server's reply: the status code, the contents of the request, and the code of the HTML page itself

- The attributes of response objects make it possible to get only the data that's relevant from the server. For example, a response object with the<b> text </b>attribute will only return the text content of the request.

In [ ]:
# print the response object with text attribute results with HTML which is scrambelled to read.
#print(url_GDP.text)

### Parse html

- BeautifulSoup methods turn an HTML file into a tree structure. Then the necessary content can be found by means of tags and attributes.

In [ ]:
# parse html
soup = BeautifulSoup(url_GDP.text, 'lxml')

### Show HTML in nested structure

In [ ]:
# print to see nested tags
print(soup.prettify())

In [ ]:
print(soup.title.text)
print(soup.find('title').text)

### extract only the table into a new variable

- The find() and find_all() methods have an extra filter for searching for page elements. It's called the <b>attrs</b> (attributes) parameter. This parameter hunts for classes and identifiers. Their names can be found in the web developer toolbar

In [ ]:
table_gdp = soup.find('table', attrs = {"id" : "example2"})

In [ ]:
# the table in a scrambelled original
#print(table_GDP)

# the table after using pretttify
#print(table_GDP.prettify())

#### Table head

In [ ]:
heading_table = []
for row in table_gdp .find_all('th'):
    heading_table.append(row.text)

print(heading_table)

#### Table head

In [ ]:
content = []
for row in table_gdp.find_all('tr'):
    if not row.find_all('th'):
        content.append([element.text for element in row.find_all('td')])

In [ ]:
df_gdp = pd.DataFrame(content, columns = heading_table)

#### Table info

In [ ]:
df_gdp.info()

- 190 countries
- all columns are object type

### edit table - column names, column types, make it useful.

In [ ]:
# add a column of gdp_per_capita as int
df_gdp['gdp_per_capita'] = df_gdp['GDP  per capita '].str.replace('$','')
df_gdp.gdp_per_capita = df_gdp.gdp_per_capita.apply(lambda x: x.replace(',',''))
df_gdp['gdp_per_capita'] = df_gdp['gdp_per_capita'].astype('int')

# cahnge population 2017 to int
df_gdp['Population (2017) '] = df_gdp['Population (2017) '].str.replace(',', '').astype('int')

# edit columns
df_gdp.columns = map(str.lower, df_gdp.columns)

# edit columns
df_gdp.columns = df_gdp.columns.str.replace(' ','_')

# rename columns
df_gdp = df_gdp.rename(columns = {'gdp_(nominal,_2017)_':'gdp_(nominal,_2017)_$',
                                  'share_of_world_gdp_':'share_of_world_gdp_%',
                                  'gdp_(abbrev.)': 'gdp_(abbrev.)_%',
                                  'gdp__growth':'gdp_growth_%',
                                  'gdp__per_capita_' : 'gdp_per_capita_$',
                                 'population_(2017)_':'population_(2017)'
                                 })

df_gdp.head()


# change share_of_world_gdp_% column from str to float
df_gdp['share_of_world_gdp_%'] = df_gdp['share_of_world_gdp_%'].str.replace('%', '').astype('float')

In [ ]:
# creat a new df, of countries with gdp_per_capita of 40000 + 
df_40000 = df_gdp[df_gdp['gdp_per_capita'] > 40000].sort_values('gdp_per_capita')#.plot(kind = 'barh', x = 'Country', y = 'gdp_per_capita', figsize = (20,10), color = 'gray')

df_40000.info()

### scatter plot: population vs. gdp_per_capita

In [ ]:
fig = px.scatter(df_gdp, x = 'population_(2017)', y = 'gdp_per_capita', color = 'country', trendline="ols")
fig.update_layout(xaxis_range=[0, 200000000])
fig.show()

### bar plot: share of world gdp, top 20

In [ ]:
fig = px.bar(df_gdp.sort_values('share_of_world_gdp_%', ascending = False).head(20),
             x = 'country', y = 'share_of_world_gdp_%')

fig.show()

### Tree map: share of world gdp, total

In [ ]:
# slice df for country and share of world gdp
df_gdp_share = df_gdp[['country', 'share_of_world_gdp_%']]

# add a new column, where for each country with less then 1% of total world gdp - marked as rest_of_the_world
df_gdp_share['country_edit'] = df_gdp_share['country']
df_gdp_share.loc[df_gdp_share['share_of_world_gdp_%'] < 1, 'country_edit'] = 'rest_of_the_world'

In [ ]:
# df for plotting of entire data
df_gdp_share_copy = df_gdp_share[df_gdp_share['share_of_world_gdp_%'] != 0]

# crete serieses for tree map
sizes_all = df_gdp_share_copy['share_of_world_gdp_%'].values.tolist()
labels_all = df_gdp_share_copy.apply(lambda x: str(x[0]) +"\n" + str(round(x[1])) + "%", axis = 1)

# plot tree map
plt.figure(figsize = (20,15))
sq.plot(sizes = sizes_all, label = labels_all[:27], alpha = 0.7);
plt.title("Share of total GDP by country - Total Globe", fontdict = {'size':17});

### Tree map: share of world gdp, filtered

In [ ]:
# groupby country, where gdp < 1% of total world gdp - marked as rest_of_the_world
df_gdp_share_groupby = df_gdp_share.groupby('country_edit')['share_of_world_gdp_%'].sum().reset_index().sort_values('share_of_world_gdp_%', ascending = False)

# create serises for filtered tree map
sizes = df_gdp_share_groupby[df_gdp_share_groupby['share_of_world_gdp_%'] != 0]['share_of_world_gdp_%'].values.tolist()
labels = df_gdp_share_groupby.apply(lambda x: str(x[0]) +"\n" + str(round(x[1])) + "%", axis = 1)


# plot tree map
plt.figure(figsize = (20,15))
sq.plot(sizes = sizes , label = labels, alpha = 0.7);
plt.title("Share of total GDP by country - Filtered", fontdict = {'size':17});

### barplot - gdp_per_capita

In [ ]:
fig = px.bar(df_gdp.sort_values('gdp_per_capita', ascending = False).head(20),
             x = 'country', y = 'gdp_per_capita')
fig.show()

## Part 2 - Using SQLAlchemy  library

<b> SQLAlchemy </b> library allows to connect with many DBs. Incuding PostgreSQL, MySQL, SQLite, Oracle, MS SQL Server

In [ ]:
from sqlalchemy import create_engine
import pymysql

In [ ]:
 engine = create_engine('mysql+pymysql://student:datacamp@courses.csrrinzqubik.us-east-1.rds.amazonaws.com:3306/census')
# engine = create_engine('mysql+pymysql://......')

In [ ]:
connection = engine.connect()

In [ ]:
engine.table_names()

In [ ]:
# write a query:  

# use ''' as the limits of the query
# usea f infornt of the query allows to pass external variables to the query

# census table query
all_data =  f'''SELECT *
                 FROM census'''

# state_fact table query
other_data = f''' SELECT *
                  FROM state_fact''

- load the data

In [ ]:
# read census table
all_load = pd.read_sql(all_data, engine)

# read state_fact table
other_data_load = pd.read_sql(other_data, engine)

In [ ]:
all_load.head()

In [ ]:
#other_data_load.head(5)

- What was the population in 2008 in each state? Slice only the top 10 by population size.

In [ ]:
# QUERY that finds top 10 states by population size in 2008
state_pop_2008_query = f'''
SELECT state, sum(pop2008) as population_2008
FROM census
GROUP BY state
ORDER BY population_2008 DESC
LIMIT 10
'''

In [ ]:
state_data = pd.read_sql(state_pop_2008_query, engine)

In [ ]:
state_data.head()

- Pass an <b> external </b> value

For example: extract the population of texas in 2008

In [ ]:
# define an external paramtere
need ='Texas'

In [ ]:
# use the %s to call the external parameter

# QUERY that returns the sum of population for a given parameter - state name
value_1 = f'''
SELECT state, sum(pop2008) as population_2008
FROM census
WHERE state = %s 
GROUP BY state
'''

In [ ]:
# use params 
value_1 = pd.read_sql(value_1, engine, params = [need])
value_1

- several parameters

population for users whos age is more then 21

In [ ]:
age = 21

In [ ]:
value_2 = f'''
SELECT state, sum(pop2008) as population_2008
FROM census
WHERE state = %s and age > %s
GROUP BY state
'''

In [ ]:
value_2 = pd.read_sql(value_2, engine, params = [need, age])
value_2

- If I want to have a list

In [ ]:
list_state = ('Maryland','Virginia') # tuple with two states

In [ ]:
two_state = f'''
SELECT state, sum(pop2008) as population_2008
FROM census
WHERE state in {list_state}
GROUP BY state
'''

In [ ]:
two_state = pd.read_sql(two_state, engine)
two_state

## Part 3 -  Using MySQL connector

### Using phpMyAdmin for sql practice

https://www.freemysqlhosting.net/account/

- In my email adress. search for 'freemysqlhosting.net' email containing the details in order to enter phpMyAdmin
- After entering, use import to upload the requested file (csv, etc..)

### Establish the connection to notebook using MySQL connector

In [ ]:
import mysql.connector

In [ ]:
#pip install mysql-connector-python

In [ ]:
# from email: host = Server, user = Username, passwd = Password, db = same as user
#mydb=mysql.connector.connect(host="sql7.freemysqlhosting.net",user="sql7391186",passwd="NzG3FXBifq", db="sql7391186")

In [ ]:
# use cursor, type of an interpreter

In [ ]:
mycursor = mydb.cursor()

In [ ]:
mycursor.execute("SHOW DATABASES")

In [ ]:
for x in mycursor:
    print(x)

In [ ]:
mycursor.execute("SELECT * FROM TABLE_1")

In [ ]:
myresult = mycursor.fetchall()
df = pd.DataFrame(myresult, columns = mycursor.column_names)

In [ ]:
df

In [ ]:
df.info()

In [ ]:
df.Attack.describe()


### warm up queries

#### - choose the top 10 pokemon by Atteck score

In [ ]:
mycursor.execute("SELECT Name, Attack FROM TABLE_1 ORDER BY Attack DESC LIMIT 10")

In [ ]:
myresult2 = mycursor.fetchall()

In [ ]:
df2 = pd.DataFrame(myresult2, columns = mycursor.column_names)

#### - choose the the top 10 pokemons by the total rank of their characteristics

In [ ]:
mycursor.execute('''SELECT Name, Attack + Defense + `Sp. Atk` + `Sp. Def` + Speed AS total_power 
                    FROM TABLE_1     
                    ORDER BY total_power DESC
                    LIMIT 10
                    ''')

myresult3 = mycursor.fetchall()

df3 = pd.DataFrame(myresult3, columns = mycursor.column_names)
df3.head()

### - check what is the average stongest (total_power) Type 1 of pokemon

#### 1. using SQL query

In [ ]:
mycursor.execute('''
                    SELECT  `Type 1`, AVG(Attack + Defense + `Sp. Atk` + `Sp. Def` + Speed) AS total_power_avg
                    FROM TABLE_1   
                    GROUP BY `Type 1`
                    ORDER BY total_power_avg DESC
                    LIMIT 10
                    ''')

myresult4 = mycursor.fetchall()

df4 = pd.DataFrame(myresult4, columns = mycursor.column_names)
df4.head(10)

#### 2. Using python

In [ ]:
df = pd.read_csv('pokemon_data.csv')

display(df.head(10))

In [ ]:
# new column - total_power
df['total_power'] = df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] +df['Speed']

#groupby type 1
display(df.groupby(['Type 1'])['total_power'].mean().reset_index().sort_values('total_power', ascending = False).head(10))

# rename empty values using replace()
df = df.replace('','0_None')

### Count the number of pokemon by each type combination

In [ ]:
type_freq = df.pivot_table(index = 'Type 1', columns = 'Type 2', values = 'Name', aggfunc ='nunique')

# preprocess nan values and gaps values 
type_freq = type_freq.fillna(0)

# type_freq = type_freq.replace('', 'None')


#type_freq = type_freq.sort_values('0_None', ascending= False)


plt.figure(figsize = (20,10))
sns.heatmap(type_freq, cmap = sns.cm.rocket_r, vmin = 0, vmax = 100, linewidths=1, linecolor='gray', annot=True);
plt.title("Primery and Secondery Types Heatmap", fontdict = {'size':15});

In [ ]:
# QA queries

# count total pokemons of type 1 = Normal
display(df[(df['Type 1'] == 'Normal')]['Name'].count())

# count no. of pokemons who have only type 1 = Normal
display(df[(df['Type 1'] == 'Normal') & (df['Type 2'] == '0_None')]['Name'].count())

### strong or weak?

In [ ]:
#
df['strength']=df.total_power.apply(lambda x: 'strong' if x > df.total_power.mean() else 'weak')

### attacker or defender?

#### - apply row function

In [ ]:
#
def atk_or_dfs(row):
        if row['Attack'] > row['Defense']:
            return 'Attacker'
        elif row['Attack'] < row['Defense']:
            return 'Defender'
        else:
            return 'Neither'

In [ ]:
df['atk_or_dfs'] = df.apply(atk_or_dfs, axis =  1)
df.head()

#### - practice the same task using lambda function

lambda syntex: <b> lambda argument: expression </b>

- lambda function are anonymous/temporery use fuctions

In [ ]:
# example: function name is squere_result, x is the argument it recevies
squere_result = lambda x: x*x

#example: function name is sum_result, x and y are the arguments it recives
sum_result = lambda x,y : x+y


display(squere_result(5))
display(sum_result(2,3))

- attacker or defenfer using lambda:

In [ ]:
df['atk_or_dfs_lambda'] = df.apply(lambda row: atk_or_dfs(row), axis = 1)

In [ ]:
df.head()

In [ ]:
### using map

## Part 4 - Just use DBeaver.

### how to establish the connection:

- Go to DBeaver
- choose the version (for example MySQL 8+)
- use the data from the email of freemysqlhosting
- It is connecting to phphMyAdmin

#### (optional) SQLite

In [ ]:
import sqlite3
conn = sqlite3.connect('example.db')